Importing Pandas:

In [1]:
import pandas as pd

Creating a Series:

In [2]:
# Creating a Series from a list
data = [1, 2, 3, 4, 5]
series = pd.Series(data)
print(series)

0    1
1    2
2    3
3    4
4    5
dtype: int64

Creating a DataFrame:

In [3]:
# Creating a DataFrame from a dictionary
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 40],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']
}
df = pd.DataFrame(data)
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    David   40      Houston

Reading Data from a CSV File:

In [7]:
# Reading data from a CSV file
df = pd.read_csv(r"D:\jupyter notebook\Pandas\name_age_dataset.csv")
print(df.head())  # Display the first five rows

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35
3    David   28
4     Emma   22

Data Selection and Filtering:

In [8]:
# Selecting a single column
ages = df['Age']

# Filtering rows based on a condition
df_above_30 = df[df['Age'] > 30]
print(df_above_30)

      Name  Age
2  Charlie   35
5    Frank   40
8      Ian   33

Handling Missing Data:

In [9]:
# Filling missing values with a specified value
df.fillna(0, inplace=True)

# Dropping rows with missing values
df.dropna(inplace=True)

Data Aggregation and Grouping:

In [12]:
# Grouping data by a column and calculating the mean
grouped = df.groupby('Name').mean()
print(grouped)

          Age
Name
Alice    25.0
Bob      30.0
Charlie  35.0
David    28.0
Emma     22.0
Frank    40.0
Grace    27.0
Hannah   24.0
Ian      33.0
Julia    29.0

Merging and Joining DataFrames:

In [13]:
# Merging two DataFrames
df1 = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
df2 = pd.DataFrame({'A': [1, 2, 3], 'C': [7, 8, 9]})
merged_df = pd.merge(df1, df2, on='A')
print(merged_df)

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9