In [2]:
!pip install lxml html5lib

Collecting lxml
  Downloading lxml-5.3.0-cp310-cp310-win_amd64.whl.metadata (3.9 kB)
Collecting html5lib
  Downloading html5lib-1.1-py2.py3-none-any.whl.metadata (16 kB)
Requirement already satisfied: six>=1.9 in c:\users\lokes\appdata\local\programs\python\python310\lib\site-packages (from html5lib) (1.16.0)
Requirement already satisfied: webencodings in c:\users\lokes\appdata\local\programs\python\python310\lib\site-packages (from html5lib) (0.5.1)
Downloading lxml-5.3.0-cp310-cp310-win_amd64.whl (3.8 MB)
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
   -- ------------------------------------- 0.3/3.8 MB ? eta -:--:--
   -- ------------------------------------- 0.3/3.8 MB ? eta -:--:--
   -- ------------------------------------- 0.3/3.8 MB ? eta -:--:--
   -- ------------------------------------- 0.3/3.8 MB ? eta -:--:--
   -- ------------------------------------- 0.3/3.8 MB ? eta -:--:--
   -- ------------------------------------- 0.3/3.8 MB ? eta -:--:--
   ----- ---------------------------------- 0.5/3.8 MB 197.2 kB/s eta 0:00:17
   ----- ---------------------------------- 0.5/3.8 MB 197.2 kB/s eta 0:00:17
   ----- ---------------------------------- 0.5/3.8 MB 197.2 kB/s eta 0:00:17
   ----- ---------------------------------- 0.5/3.8 MB 197.2 kB/s eta 0:00:17
   ----- ---------------------------------- 0.5/3.8 MB 197.2 kB/s eta 0:00:17
   ----- ---------------------------------- 0.5/3.8 MB 197.2 kB/s eta 0:00:17
   -------- ------------------------------- 0.8/3.8 MB 202.1 kB/s eta 0:00:15
   -------- ------------------------------- 0.8/3.8 MB 202.1 kB/s eta 0:00:15
   -------- ------------------------------- 0.8/3.8 MB 202.1 kB/s eta 0:00:15
   -------- ------------------------------- 0.8/3.8 MB 202.1 kB/s eta 0:00:15
   -------- ------------------------------- 0.8/3.8 MB 202.1 kB/s eta 0:00:15
   -------- ------------------------------- 0.8/3.8 MB 202.1 kB/s eta 0:00:15
   -------- ------------------------------- 0.8/3.8 MB 202.1 kB/s eta 0:00:15
   -------- ------------------------------- 0.8/3.8 MB 202.1 kB/s eta 0:00:15
   -------- ------------------------------- 0.8/3.8 MB 202.1 kB/s eta 0:00:15
   -------- ------------------------------- 0.8/3.8 MB 202.1 kB/s eta 0:00:15
   -------- ------------------------------- 0.8/3.8 MB 202.1 kB/s eta 0:00:15
   -------- ------------------------------- 0.8/3.8 MB 202.1 kB/s eta 0:00:15
   -------- ------------------------------- 0.8/3.8 MB 202.1 kB/s eta 0:00:15
   -------- ------------------------------- 0.8/3.8 MB 202.1 kB/s eta 0:00:15
   -------- ------------------------------- 0.8/3.8 MB 202.1 kB/s eta 0:00:15
   -------- ------------------------------- 0.8/3.8 MB 202.1 kB/s eta 0:00:15
   ----------- ---------------------------- 1.0/3.8 MB 131.1 kB/s eta 0:00:22
   ----------- ---------------------------- 1.0/3.8 MB 131.1 kB/s eta 0:00:22
   ----------- ---------------------------- 1.0/3.8 MB 131.1 kB/s eta 0:00:22
   ----------- ---------------------------- 1.0/3.8 MB 131.1 kB/s eta 0:00:22
   ----------- ---------------------------- 1.0/3.8 MB 131.1 kB/s eta 0:00:22
   ----------- ---------------------------- 1.0/3.8 MB 131.1 kB/s eta 0:00:22
   ----------- ---------------------------- 1.0/3.8 MB 131.1 kB/s eta 0:00:22
   ----------- ---------------------------- 1.0/3.8 MB 131.1 kB/s eta 0:00:22
   ------------- -------------------------- 1.3/3.8 MB 137.8 kB/s eta 0:00:19
   ------------- -------------------------- 1.3/3.8 MB 137.8 kB/s eta 0:00:19
   ------------- -------------------------- 1.3/3.8 MB 137.8 kB/s eta 0:00:19
   ------------- -------------------------- 1.3/3.8 MB 137.8 kB/s eta 0:00:19
   ------------- -------------------------- 1.3/3.8 MB 137.8 kB/s eta 0:00:19
   ------------- -------------------------- 1.3/3.8 MB 137.8 kB/s eta 0:00:19
   ------------- -------------------------- 1.3/3.8 MB 137.8 kB/s eta 0:00:19
   ------------- -------------------------- 1.3/3.8 MB 137.8 kB/s eta 0:00:19
   ------------- -------------------------- 1.3/3.8 MB 137.8 kB/s eta 0:00:19
   ------------- -------------------------- 1.3/3.8 MB 137.8 kB/s eta 0:00:19
   ------------- -------------------------- 1.3/3.8 MB 137.8 kB/s eta 0:00:19
   ------------- -------------------------- 1.3/3.8 MB 137.8 kB/s eta 0:00:19
   ------------- -------------------------- 1.3/3.8 MB 137.8 kB/s eta 0:00:19
   ------------- -------------------------- 1.3/3.8 MB 137.8 kB/s eta 0:00:19
   ------------- -------------------------- 1.3/3.8 MB 137.8 kB/s eta 0:00:19
   ------------- -------------------------- 1.3/3.8 MB 137.8 kB/s eta 0:00:19
   ------------- -------------------------- 1.3/3.8 MB 137.8 kB/s eta 0:00:19
   ------------- -------------------------- 1.3/3.8 MB 137.8 kB/s eta 0:00:19
   ------------- -------------------------- 1.3/3.8 MB 137.8 kB/s eta 0:00:19
   ---------------- ----------------------- 1.6/3.8 MB 112.9 kB/s eta 0:00:20
   ---------------- ----------------------- 1.6/3.8 MB 112.9 kB/s eta 0:00:20
   ---------------- ----------------------- 1.6/3.8 MB 112.9 kB/s eta 0:00:20
   ---------------- ----------------------- 1.6/3.8 MB 112.9 kB/s eta 0:00:20
   ---------------- ----------------------- 1.6/3.8 MB 112.9 kB/s eta 0:00:20
   ---------------- ----------------------- 1.6/3.8 MB 112.9 kB/s eta 0:00:20
   ---------------- ----------------------- 1.6/3.8 MB 112.9 kB/s eta 0:00:20
   ------------------- -------------------- 1.8/3.8 MB 119.0 kB/s eta 0:00:17
   ------------------- -------------------- 1.8/3.8 MB 119.0 kB/s eta 0:00:17
   ------------------- -------------------- 1.8/3.8 MB 119.0 kB/s eta 0:00:17
   ------------------- -------------------- 1.8/3.8 MB 119.0 kB/s eta 0:00:17
   ------------------- -------------------- 1.8/3.8 MB 119.0 kB/s eta 0:00:17
   ------------------- -------------------- 1.8/3.8 MB 119.0 kB/s eta 0:00:17
   ------------------- -------------------- 1.8/3.8 MB 119.0 kB/s eta 0:00:17
   ------------------- -------------------- 1.8/3.8 MB 119.0 kB/s eta 0:00:17
   ---------------------- ----------------- 2.1/3.8 MB 124.4 kB/s eta 0:00:14
   ---------------------- ----------------- 2.1/3.8 MB 124.4 kB/s eta 0:00:14
   ---------------------- ----------------- 2.1/3.8 MB 124.4 kB/s eta 0:00:14
   ---------------------- ----------------- 2.1/3.8 MB 124.4 kB/s eta 0:00:14
   ---------------------- ----------------- 2.1/3.8 MB 124.4 kB/s eta 0:00:14
   ---------------------- ----------------- 2.1/3.8 MB 124.4 kB/s eta 0:00:14
   ---------------------- ----------------- 2.1/3.8 MB 124.4 kB/s eta 0:00:14
   ---------------------- ----------------- 2.1/3.8 MB 124.4 kB/s eta 0:00:14
   ---------------------- ----------------- 2.1/3.8 MB 124.4 kB/s eta 0:00:14
   ---------------------- ----------------- 2.1/3.8 MB 124.4 kB/s eta 0:00:14
   ---------------------- ----------------- 2.1/3.8 MB 124.4 kB/s eta 0:00:14
   ------------------------ --------------- 2.4/3.8 MB 122.9 kB/s eta 0:00:12
   ------------------------ --------------- 2.4/3.8 MB 122.9 kB/s eta 0:00:12
   ------------------------ --------------- 2.4/3.8 MB 122.9 kB/s eta 0:00:12
   ------------------------ --------------- 2.4/3.8 MB 122.9 kB/s eta 0:00:12
   ------------------------ --------------- 2.4/3.8 MB 122.9 kB/s eta 0:00:12
   ------------------------ --------------- 2.4/3.8 MB 122.9 kB/s eta 0:00:12
   ------------------------ --------------- 2.4/3.8 MB 122.9 kB/s eta 0:00:12
   ------------------------ --------------- 2.4/3.8 MB 122.9 kB/s eta 0:00:12
   ------------------------ --------------- 2.4/3.8 MB 122.9 kB/s eta 0:00:12
   ------------------------ --------------- 2.4/3.8 MB 122.9 kB/s eta 0:00:12
   ------------------------ --------------- 2.4/3.8 MB 122.9 kB/s eta 0:00:12
   ------------------------ --------------- 2.4/3.8 MB 122.9 kB/s eta 0:00:12
   ------------------------ --------------- 2.4/3.8 MB 122.9 kB/s eta 0:00:12
   ------------------------ --------------- 2.4/3.8 MB 122.9 kB/s eta 0:00:12
   ------------------------ --------------- 2.4/3.8 MB 122.9 kB/s eta 0:00:12
   --------------------------- ------------ 2.6/3.8 MB 116.0 kB/s eta 0:00:11
   --------------------------- ------------ 2.6/3.8 MB 116.0 kB/s eta 0:00:11
   --------------------------- ------------ 2.6/3.8 MB 116.0 kB/s eta 0:00:11
   --------------------------- ------------ 2.6/3.8 MB 116.0 kB/s eta 0:00:11
   --------------------------- ------------ 2.6/3.8 MB 116.0 kB/s eta 0:00:11
   --------------------------- ------------ 2.6/3.8 MB 116.0 kB/s eta 0:00:11
   --------------------------- ------------ 2.6/3.8 MB 116.0 kB/s eta 0:00:11
   ------------------------------ --------- 2.9/3.8 MB 120.2 kB/s eta 0:00:08
   ------------------------------ --------- 2.9/3.8 MB 120.2 kB/s eta 0:00:08
   ------------------------------ --------- 2.9/3.8 MB 120.2 kB/s eta 0:00:08
   ------------------------------ --------- 2.9/3.8 MB 120.2 kB/s eta 0:00:08
   ------------------------------ --------- 2.9/3.8 MB 120.2 kB/s eta 0:00:08
   ------------------------------ --------- 2.9/3.8 MB 120.2 kB/s eta 0:00:08
   --------------------------------- ------ 3.1/3.8 MB 125.8 kB/s eta 0:00:06
   --------------------------------- ------ 3.1/3.8 MB 125.8 kB/s eta 0:00:06
   --------------------------------- ------ 3.1/3.8 MB 125.8 kB/s eta 0:00:06
   --------------------------------- ------ 3.1/3.8 MB 125.8 kB/s eta 0:00:06
   ----------------------------------- ---- 3.4/3.8 MB 132.3 kB/s eta 0:00:04
   ----------------------------------- ---- 3.4/3.8 MB 132.3 kB/s eta 0:00:04
   ----------------------------------- ---- 3.4/3.8 MB 132.3 kB/s eta 0:00:04
   ----------------------------------- ---- 3.4/3.8 MB 132.3 kB/s eta 0:00:04
   -------------------------------------- - 3.7/3.8 MB 138.2 kB/s eta 0:00:01
   ---------------------------------------- 3.8/3.8 MB 141.6 kB/s eta 0:00:00
Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
Installing collected packages: lxml, html5lib
Successfully installed html5lib-1.1 lxml-5.3.0

In [3]:
import pandas as pd
html=pd.read_html("https://en.wikipedia.org/wiki/Mobile_country_code")

In [4]:
type(html)

list

In [5]:
html

[   MCC  MNC Brand      Operator       Status Bands (MHz)  \
 0    1    1  TEST  Test network  Operational         any
 1    1    1  TEST  Test network  Operational         any
 2  999   99   NaN  Internal use  Operational         any
 3  999  999   NaN  Internal use  Operational         any

                               References and notes
 0                                              NaN
 1                                              NaN
 2  Internal use in private networks, no roaming[6]
 3  Internal use in private networks, no roaming[6]  ,
      Mobile country code                                    Country ISO 3166  \
 0                    289                                 A Abkhazia    GE-AB
 1                    412                                Afghanistan       AF
 2                    276                                    Albania       AL
 3                    603                                    Algeria       DZ
 4                    544  American Samoa (United States of America)       AS
 ..                   ...                                        ...      ...
 247                  452                                    Vietnam       VN
 248                  543                        W Wallis and Futuna       WF
 249                  421                                    Y Yemen       YE
 250                  645                                   Z Zambia       ZM
 251                  648                                   Zimbabwe       ZW

                                   Mobile network codes National MNC authority  \
 0             List of mobile network codes in Abkhazia                    NaN
 1          List of mobile network codes in Afghanistan                    NaN
 2              List of mobile network codes in Albania                    NaN
 3              List of mobile network codes in Algeria                    NaN
 4       List of mobile network codes in American Samoa                    NaN
 ..                                                 ...                    ...
 247        List of mobile network codes in the Vietnam                    NaN
 248  List of mobile network codes in Wallis and Futuna                    NaN
 249          List of mobile network codes in the Yemen                    NaN
 250             List of mobile network codes in Zambia                    NaN
 251           List of mobile network codes in Zimbabwe                    NaN

                       Remarks
 0    MCC is not listed by ITU
 1                         NaN
 2                         NaN
 3                         NaN
 4                         NaN
 ..                        ...
 247                       NaN
 248                       NaN
 249                       NaN
 250                       NaN
 251                       NaN

 [252 rows x 6 columns],
      MCC  MNC     Brand                    Operator           Status  \
 0    901    1       NaN                     Webbing          Unknown
 1    901    2       NaN              GlobalmatiX AG          Unknown
 2    901    3   Iridium                         NaN      Operational
 3    901    4       NaN    BBIX Singapore Pte. Ltd.          Unknown
 4    901    5       NaN        Thuraya RMSS Network      Operational
 ..   ...  ...       ...                         ...              ...
 98   901   99       NaN  Athalos Global Services BV      Operational
 99   902    1       NaN          MulteFire Alliance      Operational
 100  991    1       NaN      World's Global Telecom  Not operational
 101  991    2  5G Croco                 Orange S.A.  Not operational
 102  991    3       NaN                   Halys SAS  Not operational

     Bands (MHz)                               References and notes
 0          MVNO            Former ICO Satellite Management[51][52]
 1       Unknown  Former Sense Communications International; veh...
 2     Satellite                                                NaN
 3       Unknown                              Former Globalstar[54]
 4     Satellite                                                NaN
 ..          ...                                                ...
 98         MVNO                                               [52]
 99          LTE                                           [6][121]
 100     Unknown  temporarily assigned until 15 January 2021[100...
 101          5G  temporarily assigned until 6 August 2022[123][...
 102     Unknown  temporary assignment for trial until 5 April 2...

 [103 rows x 7 columns],
    MCC  MNC     Brand                 Operator       Status Bands (MHz)  \
 0  995    1  FonePlus  Sure (Diego Garcia) Ltd  Operational     GSM 900

                                 References and notes
 0  There appears to be no officially assigned MCC...  ,
                                vteTelecommunications  \
 0                                            History
 1                                           Pioneers
 2                                 Transmission media
 3                     Network topology and switching
 4                                       Multiplexing
 5                                           Concepts
 6                                   Types of network
 7                                   Notable networks
 8                                          Locations
 9  Telecommunication portal  Category  Outline  C...

                              vteTelecommunications.1
 0  Beacon Broadcasting Cable protection system Ca...
 1  Nasir Ahmed Edwin Howard Armstrong Mohamed M. ...
 2  Coaxial cable Fiber-optic communication optica...
 3  Bandwidth Links Nodes terminal Network switchi...
 4  Space-division Frequency-division Time-divisio...
 5  Communication protocol Computer network Data t...
 6  Cellular network Ethernet ISDN LAN Mobile NGN ...
 7  ARPANET BITNET CYCLADES FidoNet Internet Inter...
 8  Africa Americas North South Antarctica Asia Eu...
 9  Telecommunication portal  Category  Outline  C...  ]

In [6]:
html[0]

,MCC,MNC,Brand,Operator,Status,Bands (MHz),References and notes
0,1,1,TEST,Test network,Operational,any,NaN
1,1,1,TEST,Test network,Operational,any,NaN
2,999,99,NaN,Internal use,Operational,any,"Internal use in private networks, no roaming[6]"
3,999,999,NaN,Internal use,Operational,any,"Internal use in private networks, no roaming[6]"

In [7]:
html[1]

,Mobile country code,Country,ISO 3166,Mobile network codes,National MNC authority,Remarks
0,289,A Abkhazia,GE-AB,List of mobile network codes in Abkhazia,NaN,MCC is not listed by ITU
1,412,Afghanistan,AF,List of mobile network codes in Afghanistan,NaN,NaN
2,276,Albania,AL,List of mobile network codes in Albania,NaN,NaN
3,603,Algeria,DZ,List of mobile network codes in Algeria,NaN,NaN
4,544,American Samoa (United States of America),AS,List of mobile network codes in American Samoa,NaN,NaN
...,...,...,...,...,...,...
247,452,Vietnam,VN,List of mobile network codes in the Vietnam,NaN,NaN
248,543,W Wallis and Futuna,WF,List of mobile network codes in Wallis and Futuna,NaN,NaN
249,421,Y Yemen,YE,List of mobile network codes in the Yemen,NaN,NaN
250,645,Z Zambia,ZM,List of mobile network codes in Zambia,NaN,NaN
251,648,Zimbabwe,ZW,List of mobile network codes in Zimbabwe,NaN,NaN

In [8]:
type(html[0])

pandas.core.frame.DataFrame

In [12]:
html=pd.read_html("https://en.wikipedia.org/wiki/Economy_of_New_York_City",match="GDP")

In [14]:
html[0]

          County               GDP
0       New York  $885.652 billion
1          Kings  $125.867 billion
2         Queens  $122.288 billion
3          Bronx   $51.574 billion
4       Richmond   $21.103 billion
5  New York City   $1.206 trillion

In [15]:
html[0].to_html("demo.html")

Writing HTML Tables

In [16]:
import pandas as pd

# Creating a sample DataFrame
data = {'Name': ['John', 'Anna', 'Mike'],
        'Age': [30, 25, 35]}
df = pd.DataFrame(data)

# Writing the DataFrame to an HTML file
df.to_html('output.html', index=False)

Writing to an HTML String

In [17]:
import pandas as pd

# Creating a sample DataFrame
data = {'Name': ['John', 'Anna', 'Mike'],
        'Age': [30, 25, 35]}
df = pd.DataFrame(data)

# Getting the HTML representation of the DataFrame
html_string = df.to_html(index=False)
print(html_string)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Name</th>
      <th>Age</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>John</td>
      <td>30</td>
    </tr>
    <tr>
      <td>Anna</td>
      <td>25</td>
    </tr>
    <tr>
      <td>Mike</td>
      <td>35</td>
    </tr>
  </tbody>
</table>

In [18]:
import pandas as pd

# Reading the first table from a webpage
url = "https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population"
tables = pd.read_html(url)

# Displaying the number of tables found
print(f"Number of tables found: {len(tables)}")

# Selecting the first table and displaying its head
df = tables[0]
print(df.head())

# Writing the DataFrame to an HTML file
df.to_html('countries_population.html', index=False)

Number of tables found: 3
  Unnamed: 0       Location  Population % of world         Date  \
0          –          World  8127721171       100%  31 Aug 2024
1    1/2 [b]          China  1409670000      17.3%  31 Dec 2023
2    1/2 [b]          India  1404910000      17.3%   1 Jul 2024
3          3  United States   335893238       4.1%   1 Jan 2024
4          4      Indonesia   281603800       3.5%   1 Jul 2024

  Source (official or from the United Nations) Notes
0                             UN projection[3]   NaN
1                         Official estimate[5]   [c]
2                       Official projection[6]   [d]
3                         Official estimate[7]   [e]
4                National annual projection[8]   NaN